/Assignment1.class
/Assignment2.class
/ElseIfStudy.class
/EvenAndOdd.class
/IfElseStudy.class
/IfStudy.class
/LargestNo.class
/NestedIfElseAssignment.class
/NestedIfElseAssignment2.class
/NestedIfElseStudy.class
/SwitchAssignment1.class
/SwitchAssignment2.class
/SwitchAssignment3.class
/SwitchCaseStudy.class
