/ArmstrongNumber.class
/EvenOddNumbers.class
/FactorialOfNumber.class
/FindWhiteSpaceCount.class
/MultiplicationWithoutOperator.class
/PalindromeString.class
/PrimeNumber.class
/RemoveSpecialCharacter.class
/RepeatetingCharInString.class
/RepetativeStringInString.class
/ReverseIntegerNumber.class
/ReverseMiddleString.class
/ReverseString.class
/UserInputScanner.class
